<a href="https://colab.research.google.com/github/fitriafifah/Mammographic-Masses-Clasification/blob/main/Information_Gain.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Preprocessing Data**

In [ ]:
import pandas as pd
import numpy as np

data_missing = pd.read_csv('1sample_mammographic_masses.csv')
data_missing.head()

   BI-RADS assesment  Age  Shape  Margin  Density  Severity
0                  4   64      4       5        3         0
1                  4   63      4       4        3         1
2                  4   24      2       1        2         0
3                  5   72      4       4        3         1
4                  4   63      2       1        3         0

In [ ]:
data = data_missing.copy()

Missing Value dan Imputasi data

In [ ]:
kondisi_1 = data['BI-RADS assesment'] == '?'
kondisi_2 = data['Age'] == '?'
kondisi_3 = data['Shape'] == '?'
kondisi_4 = data['Margin'] == '?'
kondisi_5 = data['Density'] == '?'

data.loc[kondisi_1 | kondisi_2 | kondisi_3 | kondisi_4 | kondisi_5]

data = data.replace('?', np.NaN)

In [ ]:
data.head()

   BI-RADS assesment  Age  Shape  Margin  Density  Severity
0                  4   64      4       5        3         0
1                  4   63      4       4        3         1
2                  4   24      2       1        2         0
3                  5   72      4       4        3         1
4                  4   63      2       1        3         0

In [ ]:
def imputasi(df_input):
  list_columns = df_input.columns
  class_column = list_columns[-1]
  for column in list_columns[:-1]:
    df_input[column] = df_input[column].fillna(0)
  return df_input

In [ ]:
data_imputasi = imputasi(data)

In [ ]:
data_imputasi.isnull().values.any()

False

In [ ]:
data_imputasi.head(10)

   BI-RADS assesment  Age  Shape  Margin  Density  Severity
0                  4   64      4       5        3         0
1                  4   63      4       4        3         1
2                  4   24      2       1        2         0
3                  5   72      4       4        3         1
4                  4   63      2       1        3         0
5                  4   46      1       1        3         0
6                  3   33      1       1        3         0
7                  5   76      4       4        3         1
8                  4   36      2       3        3         0
9                  4   40      2       1        3         0

In [ ]:
def cetak_rentang(df_input):
  list_fitur = df_input.columns[:-1]
  for fitur in list_fitur:
    max = df_input[fitur].max()
    min = df_input[fitur].min()
    print("Rentang fitur", fitur, " adalah ", max-min)

In [ ]:
cetak_rentang(data_imputasi)

Rentang fitur BI-RADS assesment  adalah  2
Rentang fitur Age  adalah  59
Rentang fitur Shape  adalah  3
Rentang fitur Margin  adalah  4
Rentang fitur Density  adalah  1

In [ ]:
def minmax(df_input):
  list_fitur = df_input.columns[:-1]
  for fitur in list_fitur:
    max = df_input[fitur].max()
    min = df_input[fitur].min()
    df_input[fitur] = (df_input[fitur]-min) / (max - min)
  return df_input

In [ ]:
data_normal = minmax(data_imputasi)

In [ ]:
cetak_rentang(data_normal)

Rentang fitur BI-RADS assesment  adalah  1.0
Rentang fitur Age  adalah  1.0
Rentang fitur Shape  adalah  1.0
Rentang fitur Margin  adalah  1.0
Rentang fitur Density  adalah  1.0

Menghitung Entrophy dan Information Gain

In [ ]:
#membuat fungsi untuk menghitung entropy
def hitung_entropy(kolom_kelas):
  elemen, banyak = np.unique(kolom_kelas, return_counts=True)
  entropy =-1 * (np.sum([(banyak[i]/np.sum(banyak))*np.log2(banyak[i]/np.sum(banyak)) for i in range(len(elemen))]))
  return entropy

In [ ]:
nilai = hitung_entropy(data_normal['BI-RADS assesment'])
nilai1 = hitung_entropy(data_normal['Age'])
nilai2 = hitung_entropy(data_normal['Shape'])
nilai3 = hitung_entropy(data_normal['Margin'])
nilai4 = hitung_entropy(data_normal['Density'])

print("Entropy BI-RADS assesment : ", nilai)
print()
print("Entropy Age : ", nilai1)
print()
print("Entropy Shape : ", nilai2)
print()
print("Entropy Margin : ", nilai3)
print()
print("Entropy Density : ", nilai4)

Entropy BI-RADS assesment :  1.313164146339565

Entropy Age :  4.882568083276076

Entropy Shape :  1.6765099937065218

Entropy Margin :  1.9909890984716274

Entropy Density :  0.23519338181924143

In [ ]:
#membuat fungsi hitung information gain untuk menghitung nilai information gain
def information_gain(data, nama_fitur_split, nama_fitur_kelas):
  nilai, banyak = np.unique(data[nama_fitur_split], return_counts=True)
  entrophy_parent = hitung_entropy(data[nama_fitur_kelas])
  entrophy= np.sum([(banyak[i]/np.sum(banyak))*hitung_entropy(data.where(data[nama_fitur_split]==nilai[i]).dropna()[nama_fitur_kelas]) for i in range(len(nilai))])
  information_gain = entrophy_parent - entrophy
  return information_gain

In [ ]:
#pengecekan fungsi yang sudah dibuat berjalan dengan lancar
nilaiIG = information_gain(data_normal,'BI-RADS assesment','Severity')
nilaiIG2 = information_gain(data_normal,'Age','Severity')
nilaiIG3 = information_gain(data_normal,'Shape','Severity')
nilaiIG4 = information_gain(data_normal,'Margin','Severity')
nilaiIG5 = information_gain(data_normal,'Density','Severity')

print("information_gain BI-RADS assesment : ", nilaiIG)
print()
print("information_gain Age : ", nilaiIG2)
print()
print("information_gain Shape : ", nilaiIG3)
print()
print("information_gain Margin : ", nilaiIG4)
print()
print("information_gain Density : ", nilaiIG5)

information_gain BI-RADS assesment :  0.344712670951589

information_gain Age :  0.5915053365338895

information_gain Shape :  0.2944089990045661

information_gain Margin :  0.34552723336128344

information_gain Density :  0.00017126091163155444